body {
  font-family: Arial;
  font-family: 'Lato';
  background-color: #eee; }

.panel {
  border: 0;
  box-shadow: none;
  background-color: transparent; }

input {
  margin-bottom: 1%; }

textarea {
  margin-bottom: 1%; }

select {
  margin-bottom: 1%; }

.delete-article-btn {
  display: inline-block; }

.delete-question {
  display: inline-block; }

#score {
  color: #222;
  text-align: center;
  font-size: 2em;
  font-weight: 300; }

#on-question {
  top: 0.4em; }

.question_number {
  position: relative;
  display: inline-block;
  text-align: center;
  color: white;
  z-index: 5; }
  .question_number .big-number {
    width: 1.5em;
    font-size: 2em;
    background-color: darkblue;
    border-radius: 50%; }
  .question_number .small-number {
    width: 1.5em;
    font-size: 1.2em;
    background-color: darkgray;
    border-radius: 50%; }

.line-question {
  position: relative;
  display: inline-block;
  top: -0.1em;
  margin-left: -5px;
  margin-right: -5px;
  width: 8%;
  height: 10px;
  background-color: gray;
  z-index: 4; }

.fa-btn {
  margin-right: 6px; }

.errors {
  margin: 1% 0; }

.question-content {
  background-color: #eee; }
  .question-content .question #question-title {
    font-size: 4em;
    font-weight: 300; }
  .question-content .question #answer-form {
    margin-bottom: 2%; }
    .question-content .question #answer-form .answer-row {
      margin-top: 3%; }
    .question-content .question #answer-form input[type=radio] {
      display: none; }
    .question-content .question #answer-form input[type=submit] {
      display: none;
      margin-top: 4%; }
    .question-content .question #answer-form label {
      width: 60%;
      margin-left: 20%;
      padding: 5% 5%;
      font-size: 1.7em;
      font-weight: 300;
      background-color: white;
      text-align: center;
      transition: all .5s; }
    .question-content .question #answer-form input[type=radio]:checked + label {
      box-shadow: 10px 10px; }
    .question-content .question #answer-form input[type=radio]:not(:checked) + label {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }
  .question-content .question .answer {
    display: none;
    margin-bottom: 1%; }

#user, #user-score {
  padding-bottom: 3%;
  border-top: 5px solid black;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }
  #user #user-name, #user-score #user-name {
    display: inline-block;
    padding: 0.2% 4%;
    font-size: 2em;
    background-color: #0b97c4;
    color: white; }
  #user #user-level, #user-score #user-level {
    margin-top: 15%;
    font-size: 1.4em;
    font-weight: 300; }
  #user #user-points, #user-score #user-points {
    margin-top: 5%;
    font-size: 1.7em;
    font-weight: 300; }
  #user #user-exp, #user-score #user-exp {
    margin-top: 10%;
    font-size: 3em;
    font-weight: 300; }
  #user #user-exp + small, #user-score #user-exp + small {
    display: block;
    font-style: italic;
    font-size: 1em; }
  #user #trophies .col-md-4, #user-score #trophies .col-md-4 {
    padding: 0 3%; }
  #user #points-mention, #user-score #points-mention {
    display: block;
    font-style: italic; }

/*# sourceMappingURL=app.css.map */
